.portfolio-teaser {
  opacity: .5;
  transform: translateY(50px);
  transition: opacity $duration, transform $duration;

  &.animate {
    opacity: 1;
    box-shadow: none;
    transform: translateY(0);
  }
}