.panel {
    margin: $panel-margin-mobile 0;

    @include breakpoint($tablet) {
        margin: $panel-margin-tablet 0;
    }

    @include breakpoint($desktop) {
        margin: $panel-margin-desktop 0;
    }
}
