@import 'src/styleUtils/helpers/mixins.scss';

.container {
  max-width: rem(1440);

  &,
  &-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(40);
    padding-right: rem(40);
    width: 100%;
  }

  // Nested containers
  & &,
  & &-fluid,
  &-fluid &,
  &-fluid &-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
