@import 'src/styleUtils/helpers/mixins.scss';

.panel {
  @include clean-spacing(padding, $top: rem(70), $bottom: rem(70));

  @include bp(medium) {
    @include clean-spacing(padding, $top: rem(80), $bottom: rem(80));
  }

  @include bp(large) {
    @include clean-spacing(padding, $top: rem(120), $bottom: rem(120));
  }
}

.theme {
  &-black,
  &-transparent-black,
  &-blue {
    color: palette('galaxy-white');
  }

  &-black {
    background-color: palette('space-black');
  }

  &-blue {
    background-color: palette('earth-blue');

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: palette('space-black');
    }
  }

  &-yellow {
    background-color: palette('star-yellow');
  }
}
