@import 'src/styleUtils/helpers/mixins.scss';

$arrow-length-mobile: rem(40);
$arrow-length-tablet: rem(48);
$arrow-margin: rem(8);
$underline-margin: rem(-2);
$link-transition-speed: 150ms;

// TODO: Tidy up this partial
.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-left: calc(-1 * (#{$arrow-length-mobile} + #{$arrow-margin}));

  @include bp(tablet) {
    margin-left: calc(-1 * (#{$arrow-length-tablet} + #{$arrow-margin}));
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &-arrow-wrap {
    order: -1;
    margin-right: $arrow-margin;
    width: $arrow-length-mobile;
    line-height: 0;
    transition: transition(
      transform,
      $speed: $link-transition-speed,
      $ease: ease-in-out
    );

    @include bp(tablet) {
      width: $arrow-length-tablet;
    }
  }

  &:hover &-arrow-wrap,
  &:focus &-arrow-wrap {
    transform: scale(1.1);
  }

  &-arrow {
    &-black .link-arrow-wrap {
      color: palette(space-black);
    }

    &-white .link-arrow-wrap {
      color: palette(off-white);
    }

    &-grey .link-arrow-wrap {
      color: palette(moon-rock);
    }
  }

  &-label {
    &-black {
      color: palette(space-black);
    }

    &-white {
      color: palette(off-white);
    }

    &-grey {
      color: palette(moon-rock);
    }

    &-yellow {
      color: palette(star-yellow);
    }
  }

  &-underline {
    &-black,
    &-white,
    &-yellow {
      &:after {
        content: '';
        position: absolute;
        top: calc(100% + #{$underline-margin});
        right: 0;
        display: block;
        width: calc(100% - (#{$arrow-length-mobile} + #{$arrow-margin}));
        border-bottom: rem(6) solid;
        transition: transition(
          transform,
          $speed: $link-transition-speed,
          $ease: ease-in-out
        );
      }

      &:hover:after,
      &:focus:after {
        transform: scale(1.05);
      }
    }

    &-black:after {
      border-color: palette(space-black);
    }

    &-white:after {
      border-color: palette(off-white);
    }

    &-yellow:after {
      border-color: palette(star-yellow);
    }
  }
}
