@import 'src/styleUtils/helpers/mixins.scss';

$section-padding: rem(64);

.hero-wrap {
  @include clean-spacing(
    padding,
    $top: $section-padding,
    $bottom: $section-padding
  );
  position: relative;
  background-color: palette('space-black');
  color: palette('galaxy-white');
}

.social-media-col {
  display: none;

  @include bp(large) {
    display: block;
    align-self: flex-end;
    transform: translateY(50%);
  }
}

.space-man {
  position: absolute;
  width: rem(445);
  bottom: calc(-#{$section-padding} - 30px);
  right: rem(-100);
  z-index: z(1);
  max-width: none;
  line-height: 0;

  &-inner {
    position: relative;
    user-select: none;
    pointer-events: none;

    @include bp(large) {
      &:after {
        content: '';
        position: absolute;
        top: rem(460);
        left: 100%;
        bottom: 0;
        display: block;
        width: 100vw;
        background-color: palette('off-white');
      }
    }
  }

  @include bp(medium) {
    width: rem(550);
    bottom: calc(-#{$section-padding} - 37px);
    right: rem(-165);
  }

  @include bp(large) {
    width: rem(640);
    bottom: calc(-#{$section-padding} - 43px);
  }

  @include bp(max) {
    right: rem(45);
  }
}

.nav-wrap-grid {
  position: relative;
  z-index: z(2);

  &-row {
    @include bp(medium) {
      justify-content: space-between;
      align-items: flex-end;
    }

    @include bp(large) {
      justify-content: normal;
    }
  }
}

.nav {
  @include bp(large) {
    text-align: center;
  }
}

.home-link {
  text-transform: lowercase;
  color: palette('galaxy-white');

  @include bp(medium) {
    margin-bottom: 0;
    font-size: rem(40);
    line-height: (52 / 40);
  }

  &:hover,
  &:focus {
    color: palette('earth-blue');
    text-decoration: none;
  }
}

.hero-container {
  position: relative;
  padding-top: rem(60);
  padding-bottom: rem(200);

  @include bp(medium) {
    @include clean-spacing(padding, $top: rem(120), $bottom: rem(160));
  }

  @include bp(medium) {
    padding-bottom: calc(100px - #{$section-padding});
  }
}

.content-wrap {
  position: relative;
  z-index: z(2);
}

.title,
.big-title,
.sub-title {
  margin-bottom: 0;
}

.big-title {
  font-size: rem(50);
  line-height: 1;

  @include bp(medium) {
    font-size: rem(64);
  }

  @include bp(large) {
    font-size: rem(120);
  }
}

.sub-title {
  font-size: rem(32);
  color: palette('star-yellow');

  @include bp(medium) {
    font-size: rem(44);
  }

  @include bp(large) {
    font-size: rem(68);
  }
}

.body {
  margin-top: rem(16);
  font-weight: 500;
  max-width: rem(450);

  @include bp(medium) {
    margin-top: rem(64);
  }

  @include bp(large) {
    margin-top: 0;
  }
}
