.social-media-links {
  a {
    display: inline-block;
    width: 2.8rem;

    @each $network in $social-media-networks {
      &.#{$network} {
        color: palette(social, $network);

        &:hover,
        &:focus {
          color: darken(palette(social, $network), 5);
        }
      }
    }
  }
}