@import 'src/styleUtils/helpers/mixins.scss';

.grid-row {
  @include bp(large) {
    align-items: center;
  }
}

.vertical-title-col {
  @include bp(large) {
    align-self: flex-start;
  }
}

.vertical-title {
  display: none;

  @include bp(large) {
    display: inline-block;
  }
}

.flip-columns {
  @include bp(large) {
    flex-direction: row-reverse;
  }
}

.stack {
  margin-bottom: rem(24);
}

.demo {
  &-col {
    margin-top: rem(60);
    text-align: center;

    @include bp(large) {
      margin-top: 0;
    }
  }

  &-image-wrap {
    @include clean-spacing(margin, $left: rem(-30), $right: rem(-128));

    @include bp(medium) {
      margin-right: rem(-30);
    }

    @include bp(large) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
